<div class="row col-md-4 col-md-offset-4">
	<form novalidate class="simple-form" ng-submit="submit()">
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" class="form-control" id="username" ng-model="credentials.username" placeholder="Enter your username">
		</div>
		<div class="form-group">
			<label for="pass">Password</label>
			<input type="password" class="form-control" id="pass" ng-model="credentials.password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
	<p>User is logged : {{ user.isLogged }}</p>
	<p>auth_token : {{ auth_token }}</p>
</div>
