{% extends "layout.html" %}

{% block content %}
<a class="btn btn-primary" href="{% url 'os_file_hoster.apps.user_manager.views.user_new' %}" role="button">New user</a>
<table class="table">
	<thead>
		<th>Username</th>
		<th>Container</th>
		<th>Action</th>
	</thead>
{% for user in users.values %}
	<tr>
		<td>{{ user.username  }}</td>
		<td><a href="{% url 'os_file_hoster.apps.file_manager.views.file_list' user.id %}">user files</a></td>
		<td><a href="{% url 'os_file_hoster.apps.user_manager.views.user_delete' user.id %}">delete</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
