{% extends "layout.html" %}

{% block content %}
<form action="/file/upload/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="hidden" name='container' value="{{ container }}">
	<input type="submit" value="Submit">
</form>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Size</th>
		<th>Action</th>
	</thead>
{% for file in files %}
	<tr>
		<td><a href={{ file.url }}>{{ file.name  }}</a></td>
		<td>{{ file.bytes  }}</td>
		<td><a href="{% url 'os_file_hoster.apps.file_manager.views.file_delete' file.name container %}">delete</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
