{% extends "layout.html" %}

{% block content %}
<form action="/file/upload/" method="POST" enctype="multipart/form-data" class="col-md-4 row">
	{% csrf_token %}
	<div class="form-group">
		<label for="file">File</label>
		<input type="file" name="file" id="file" class="form-control" multiple/>
	</div>

	<input type="hidden" name='container' value="{{ container }}">
	<button type="submit" class="btn btn-success btn-sm">Upload</button>
</form>

<table class="table">
	<thead>
		<th>Name</th>
		<th>Size</th>
		<th>Action</th>
	</thead>
{% for file in files %}
	<tr>
		<td><a href={{ file.url }}>{{ file.name  }}</a></td>
		<td>{{ file.bytes  }}</td>
		<td><a href="{% url 'os_file_hoster.apps.file_manager.views.file_delete' file.name container %}">delete</a></td>
	</tr>
{% endfor %}
</table>
{% endblock %}
