{% extends "base.html" %}

{% block content %}

   <form action="{% url 'admin:user_delete' %}" class="form-inline" method="post" role="form">
        {% csrf_token %}

        <div class="form-group">
            <label class="sr-only" for="username_input">Username</label>
                <input type="text" class="form-control" name="username" id="username_input" placeholder="Enter Username">
        </div>
        <button type="submit" class="btn btn-default">Delete</button>
    </form>

{% endblock %}